/* --common--*/
@keyframes opacityAnim {
	0% {
		opacity: 0.5;
	},
	100% {
		opacity: 1.0;
	}
}

.opacityAnim{
	animation: opacityAnim 1s ease 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.center {
	position: relative;
	justify-content: center;
	align-items: center;
/* 	display: -webkit-flex; */
/* 	display: flex; */
}

.cursorPointer {
	cursor: pointer;
}

.window {
	position: relative;
	width: 100%;
	height:100%;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.textCenter{
	text-align: center;
}

.displayNone {
	display: none;
}

.gray {
	color: gray;
}

.font12px {
	font-size: 12px;
}

.font14px {
	font-size: 14px;
}

.font16px {
	font-size: 16px;
}

.opacity0 {
	opacity: 0;
}

.opacity05 {
    opacity: 0.5;
}

.opacity07 {
	opacity: 0.7;
}

.top60% {
	top: 60%;
}

.floatLeft {
	float: left;
}

.clearLeft {
	clear: left;
}

.checkBox {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid black;
	border-radius: 2px;
	box-sizing: border-box;
	opacity: 0.5;
}

.hoverCircle {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	opacity: 0.5;
	transition: 0.2s;
}

.hoverCircle:hover{
	background-color: lightgray;
}

.hoverCircleSquare {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	opacity: 0.5;
}

.hoverCircleSquare:hover {
	background-color: lightgray;
}

.defautOpacity:hover {
	opacity: 1.0;
}

.pointerEventsNone {
	pointer-events: none;
}

/* --tag-- */
body {
	margin: 0;
}

html, body {
	height: 100%;
}
/* --header-- */
.header {
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px;
	border-bottom: 1px solid #f5f5f5;
	height: 48px;
}

.humberger {
	position: relative;
	height: 48px;
	width: 48px;
	float: left;
	border-radius: 100px;
	margin: 5px;
}

.humberger div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	height: 1.5px;
	width: 24px;
	background-color: gray;
	border-radius: 2px;
}

.humberger div:nth-of-type(1) {
	top: 18px;
}

.humberger div:nth-of-type(2) {
	top: 24px;
}

.humberger div:nth-of-type(3) {
	top: 30px;
}

.humberger:hover {
	background-color: #f5f5f5;
}

.header>img {
	float: left;
}

.searchBar {
	width: 60%;
	height: 100%;
	float: left;
	background-color: #f5f5f5;
	border-radius: 5px;
	margin-left: 85px;
	transition: 0.1s;
}

.onSearchBar {
	box-shadow: 0 1px 4px gray;
	background-color: white;
}

.searchBar .searchBarLeft {
	width: 40px;
	height: 100%;
	float: left;
	border-radius: 100px;
}

.searchBarLeft:active, .searchBarRight:active {
	background-color: lightgray;
}

.searchBarInput {
	position: relative;
	outline: 0;
	background-color: rgba(0, 0, 0, 0);
	width: calc(100% - 80px);
	height: 48px;
	border: 0px;
	float: left;
/* 	top: 18px; */
}

.searchBar .searchBarRight {
	position: relative;
	width: 40px;
	height: 100%;
	float: left;
	border-radius: 100px;
}

/* ‰º–îˆó */
.arrow {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: gray transparent transparent transparent;
	float: left;
}

.arrow:hover {
	border-color: black transparent transparent transparent;
}

.appMenu {
	width: 16px;
	height: 100%;
	background-image: url("../picture/appMenu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	margin-left: 50px;
}

.information {
	width: 16px;
	height: 100%;
	background-image: url("../picture/bell.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	margin-left: 30px;
}

.account {
	position: relative;
	width: 32px;
	height: 32px;
	border: 1px solid red;
	background-color: red;
	border-radius: 100px;
	color: white;
	margin-left: 30px;
}

.accountWindow {
	position: absolute;
	right: 50px;
	top: 48px;
	border: 0.5px solid #EEEEEE;
	background-color: white;
	width: 300px;
	height: 200px;
	display: none;
	z-index: 1;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 8px rgba(0, 0, 0, 0.19);
}

.accountWindowTop {
	position: relative;
	width: 100%;
	height: 70%;
}

.accountWindowBottom {
	position: relative;
	width: 100%;
	height: 30%;
	border-top: 1px solid gray;
	background-color: #EEEEEE;
}

.accountWindowImg {
	position: relative;
	width: 40%;
	height: 100%;
}

.accountWindowInfo {
	position: relative;
	width: 60%;
	height: 100%;
}

/* --Window left-- */
.left {
	width: 256px;
	height: calc(100% - 66px);
	float: left;
	/* 	border-right: 2px solid gray; */
}

.createButtonArea {
	width: 100%;
	height: 80px;
}

.createButton {
	position: relative;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 112px;
	height: 48px;
	border: 1px solid #f5f5f5;
	border-radius: 100px;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	transition: 0.1s;
}

.createButton:hover {
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px
		rgba(60, 64, 67, 0.3);
}

.createButtonLeft, .createButtonRight {
	width: 56px;
	height: 48px;
	float: left;
}

.createButtonLeft {
	background-image: url("../picture/create.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
}

.createButtonRight {
	line-height: 50px;
	vertical-align: middle;
}

.leftMenu {
	clear: left;
}

.leftMenuChild {
	align-items: center;
	display: -webkit-flex;
	display: flex;
	height: 32px;
	line-height: 32px;
	padding-left: 26px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
	padding-right: 20px;
}

.selected {
	background-color: #FFE4E1;
	color: red;
	font-weight: bold;
}

.leftMenuChild:hover:not(.selected) {
	background-color: #f5f5f5;

}

.menuIconImg {
	background-size: 20px;
	width: 20px;
	height: 20px;
	float: left;
}

.leftMenuChildText {
	padding-left: 20px;
	float: left;
	height: 100%;
}

.iconBox {
	background-image: url("../picture/box.png");
}

.iconStar {
	background-image: url("../picture/star.png");
}

.iconSnooze {
	background-image: url("../picture/watch.png");
}

.iconSent {
	background-image: url("../picture/sent.png");
}

.iconDraft {
	background-image: url("../picture/file.png");
}

.iconUnderArrow {
	background-image: url("../picture/underArrow.png");
}

.iconDust {
	background-image: url("../picture/dustbox.png");
}

.hr {
	border-bottom: 0.5px solid #f5f5f5;
}

.chatArea {
	height: calc(100% - 306px);
}

.chat {
	width: 100%;
	height: calc(100% - 36px);
	opacity: 0.3;
	background: url("../picture/chat.png");
	background-repeat: no-repeat;
	background-size: 128px;
	background-position: center;
}

.chatUnderMessage {
	position: relative;
	top: -100px;
	font-size: 12px;
	text-align: center;
	transition: 5s;
}

.underBar {
	position: relative;
	width: 100%;
	height: 24px;
	border-top: 0.5px solid #f5f5f5;
}

.main {
	position: relative;
	/* width: window_width - left_width - right_width - this.padding */
	width: calc(100% - 256px - 50px - 20px);
	height: calc(100% - 66px);
	float: left;
	padding-right: 20px;
}

.upperBar {
	height: 48px;
	border-bottom: 0.5px solid #f5f5f5;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.backButton {

}

.backButtonImg {
	background-image: url("../picture/back.png");
	margin: 10px;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	float:left;
	opacity: 0.5;
}

.mailBox{

}

.mailCategoryBar {
	height: 48px;
	box-sizing: border-box;
	border-bottom: 0.5px solid #f5f5f5;
}

.categoryMainImg,
.categorySocialImg,
.categoryPromotionImg {
	margin: 10px;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	float:left;
}

.category {
	position: relative;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	width: calc(100% / 3);
	height: 100%;
	float:left;
	color: #999999;

}

.category:hover {
	color: black;
	background-color: lightgray;
}

.categorySelected {
	position: absolute;
	width: 90%;
	height: 3px;
	box-sizing: border-box;
	border: 1px solid red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: red;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
}

.categoryMainImg {
	background-image: url("../picture/box.png");
}

.categorySocialImg {
	background-image: url("../picture/social.png");
}

.categoryPromotionImg {
	background-image: url("../picture/tag.png");
}

.mailer {
	position: relative;
	width: 100%;
	height: calc(100% - 96px);

}

.deleteButton {
	position: relative;
	height: 50px;
	width: 100%;

	background-color: #f5f5f5;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;

}

.deleteButtonText {
	position: absolute;
	line-height: 50px;
	text-align: center;

	color: deepskyblue;
}

.deleteButtonHoverCircle {
	position: absolute;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	transition: 0.5s;
}

.deleteButtonHoverCircle:hover {
	background-color: #E6E6FA;
}

.mailerChild {
	position: relative;
	height: 50px;
	background-color: #f5f5f5;
/* 	box-sizing: border-box; */
	border-bottom: 0.5px solid lightgray;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	cursor: pointer;
}

.mailerChild:hover {
	position: relative;
	border: 0.5px solid lightgray;
	box-sizing: border-box;
	box-shadow: 0 2px 1px -1px gray;
	z-index: 1;
}

.mailerChildCheckBox {
	width: 50px;
	height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;

}

.mailerChildStar {
	position: relative;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	transition: 0.3s;
}

.starImg {
	position: absolute;
	width: 40px;
	height: 50px;
	background-image: url("../picture/star.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.star2Img {
	position: absolute;
	width: 40px;
	height: 50px;
	background-image: url("../picture/star2.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.mailerChildFrom {
	width: 200px;
	height: 100%;
	position: relative;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	margin-left: 15px;
}

.mailerChildTitle {
	height: 100%;
	position: relative;
	margin-left: 15px;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.mailerChildText {
	width: 100%;
	height: 100%;
	position: relative;
	margin-left: 5px;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.mailerChildDate {
	width: 100px;
	height: 100%;
	position: relative;
	margin-left: 5px;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.mailerChildETC {
	position: absolute;
	background-color: #f5f5f5;
	width: 100px;
	height: 100%;
	align-items: center;
	right: 0;
	border-top: 0.5px solid lightgray;
	border-bottom: 0.5px solid lightgray;
}

.mailerChildDustBox {
	position: relative;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	transition: 0.3s;
}

.dustBoxImg {
	position: absolute;
	width: 40px;
	height: 50px;
	background-image: url("../picture/dustbox.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.mailerChildMail {
	position: relative;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	transition: 0.3s;
}

.mailImg {
	position: absolute;
	width: 40px;
	height: 50px;
	background-image: url("../picture/mail.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.mail2Img {
	position: absolute;
	width: 40px;
	height: 50px;
	background-image: url("../picture/mail2.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.mailer a {
	text-decoration: none;
}

.mailer a:hover {
	text-decoration: underline;
}
.mailerInformation1 {
	position: relative;
	width: calc(100% / 3);
    text-align: left;
	top: 20%;
}

.mailerInformation2 {
	position: relative;
	width: calc(100% / 3);
	text-align: center;
	top: 20%;
}

.mailerInformation3 {
	position: relative;
	width: calc(100% / 3);
	text-align: right;
	top: 20%;
}

.mailViewer {
	position: relative;
	width: 100%;
	height: 100%;
}

.fromImage {
	position: relative;
	width: 15%;
	height: 200px;
	background-image: url("../picture/mail2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.mailViewerBottom {
	width: 100%;
	height: 50px;
}

.mailViewerBottom button {
	color: gray;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 5px 15px;
}

.replay {
	position: relative;
	width: 100%;
	height: 300px;
	border: 1px solid lightgray;
}

.replayTop {
	position: relative;
	width: 100%;
	height: 25%;
}

.replayMain {
	position: relative;
	width: 100%;
	height: 50%;
}

.replayBottom {
	position: relative;
	width: 100%;
	height: 25%;
}

.mailViewerBottom button:hover {
	background-color: lightgray;
}
.informationArea {
	position: fixed;
	width: 350px;
	height: 50px;
	left: 20px;
	bottom: 20px;
	background-color: #222222;
	color: white;
	border-radius: 5px;
}

.informationAreaText {
	position: relative;
	width: calc(80% - 20px);
	height: 100%;
	padding-left: 20px;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.informationAreaExit {
	position: relative;
	right: 0;
	width: 20%;
	height: 100%;
	background-image: url("../picture/cross.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
}

.right {
	width: 50px;
	height: calc(100% - 66px);
	float: left;
	border-left: 0.5px solid #f5f5f5;
	box-sizing: border-box;
}

/* --inputWindow-- */

.inputWindow{
	display: none;
	position: absolute;
	right: 70px;
	bottom: 0;
	border: 2px solid black;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 600px;
	height: 500px;
	background-color: white;
	z-index: 98;
}

.inputWindowBar{
	height: 34px;
	padding: 2px 5px;
	background-color: #333333;
}

.inputWindowBarText {
	position: relative;
	width: calc(100% - 20px);
	line-height: 30px;
	color: white;
	float: left;
}

.closeButton {
	position: relative;
	margin: 0;
	right: 0;
	width: 20px;
	height: 30px;
	background-image: url("../picture/cross.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

.inputWindow input[type="text"] {
	width: 90%;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: transparent;
	border: none;
	border-bottom: 0.5px solid #EEEEEE;
	outline: none;
	appearance: none;
}

.inputWindowButton{
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
}

.inputWindow textArea {
	width: 100%;
	height: 60%;
	background-color: transparent;
	border: none;
	outline: none;
	appearance: none;
}

/* -- account create--*/

.createAccountArea {
	position: relative;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 8px rgba(0, 0, 0, 0.19);
	clear: left;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.animationInputArea {
	position: relative;
	width: 170px;
	height: 60px;
	margin-right: 20px;
}


.animation {
	position: absolute;
	height: 50%;
	top: 50%;
	z-index: -1;
	-ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    transition: all .3s ease;
    color: gray;
}

.mailAddressText {
	position: relative;
	width: 50px;
	height: 50px;
	top: 35px;
}

.createAccountArea input[type="text"],input[type="password"],select {
	position: relative;
	background-color: transparent;
	border: none;
	border-bottom: 0.5px solid #EEEEEE;
	border-width: 80%;
	outline: none;
	appearance: none;
	top: 60%;
}

.createAccountArea select {
	width: 170px;
}

.animationBorder {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	background-color: blue;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}


.createAccountUnderArea {
	position: absolute;
	bottom: -10%;
}



/* popup */
.popup {

}

.popupWindow {
	position: absolute;
/*	width: 80px;*/
/*	height: 30px;*/
	background-color: #222222;
	color: white;
	border-radius: 5px;
	z-index: 2;
	font-size: 14px;
	padding: 3px 6px;
	transition: opacity 1s linear 0s;
}

.show {
	transition: opacity 0.2s linear 0.5s;
}

.hidden {
	transition: opacity 0.2s linear 1s;
}